kind: Service
apiVersion: v1
metadata:
  name: backend
spec:
  selector:
    app: backend
  type: LoadBalancer
  ports:
    - name: backend
      port: 5000
      targetPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: web-app-service
spec:
  type: LoadBalancer
  selector:
    app: client
  ports:
    - name: client
      port: 80
      targetPort: 5001
      nodePort: 30001
